@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype"),
    url("/fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("/fonts/Poppins-ExtraBold.ttf") format("truetype"),
    url("/fonts/Poppins-Regular.svg#Poppins") format("svg");
}
body {
  font-family: "Poppins", sans-serif;
  transition-duration: 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #a5dc861c;
}

.icon {
  background-repeat: no-repeat;
  display: inline-block;
}
.icon.user {
  background-image: url("../icons/user.svg");
  width: 30px;
  height: 30px;
}

.icon.age {
  background-image: url("../icons/age.svg");
  width: 25px;
  height: 25px;
}

.icon.department {
  background-image: url("../icons/department.svg");
  width: 25px;
  height: 25px;
}

.icon.voteChart {
  background-image: url("../icons/vote_chart.svg");
  width: 25px;
  height: 25px;
}

.icon.vote {
  background-image: url("../icons/vote.svg");
  width: 20px;
  height: 20px;
}
